@import "bourbon";
@import "neat";




body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#main-content {
  @include outer-container;

  .torrent {
    @include span-columns(12 of 12);

    .torrent-info {
      @include span-columns(1 of 12);
    }
    .download-amount, .total-size {
      @include span-columns(2 of 12);
    }
    .torrent-name {
      @include span-columns(4 of 12);
    }
    .progress-bar {
      @include span-columns(2 of 12);
    }
  }
}